@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: roboto;
    src: url('../../public//fonts//Roboto-Black.ttf');
}

@font-face {
    font-family: light;
    src: url('../../public/fonts/Roboto-Light.ttf');
}

.Raleway,h1,h2,h3,h4,h5,h6,p,li,span,a {
    font-family: 'Raleway', sans-serif;
}

.shape::after{
    content: "";
    background: #fff;
    position: absolute;
    transition: all 0.3s ease-in;
    z-index: -1;
    height: 100%;
    top: 0;
    transform: skew(40deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 108%;
    left: -165px;
    z-index: 2;
}