@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: roboto;
    src: url('../../public//fonts//Roboto-Black.ttf');
}

@font-face {
    font-family: light;
    src: url('../../public/fonts/Roboto-Light.ttf');
}

.Raleway,h1,h2,h3,h4,h5,h6,p,li,span,a {
    font-family: 'Raleway', sans-serif;
}

@font-face {

    font-family: medium;
    src: url('../../public/fonts/Roboto-Medium.ttf');
}

@font-face {

    font-family: black;
    src: url('../../public/fonts/Roboto-Black.ttf');
}